.container {
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: var(--gray);
  border-radius: 1rem;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
}

.cta > span {
  font-size: 2rem;
  color: var(--darkblue);
  font-weight: var(--bold);
}

.addBtn {
  width: 50%;
  font-size: 1.2rem;
}
