.container {
  background-color: darkgrey;
  border: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  color: var(--white);
  padding: 0.2rem 0.5rem;
  border-radius: 0.7rem;
  font-weight: bold;
}

.icon {
  height: 2rem;
}
.specs.hide {
  display: none;
}

.specs.show {
  display: block;
}

.specs > div:nth-child(odd) {
  background-color: var(--lightblue);
}
.specs > div:nth-child(even) {
  background-color: var(--gray);
}

.iconCollapsed {
  transform: rotate(-90deg);
}
