.container {
  padding: 1rem;
  font-family: var(--secondaryFont);
}

.breadcrumbNotCurrent {
  color: var(--darkblue);
}
.breadcrumbNotCurrent:hover {
  cursor: text;
}
.breadcrumbCurrent {
  color: var(--blue);
}

.breadcrumbArrow {
  margin-left: 10px;
  margin-right: 10px;
}
