svg {
  fill: white;
  width: 2rem;
}

.container {
  background-color: var(--gray);
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  align-items: center;
  color: var(--darkblue);
  display: flex;
  gap: 0.5rem;
  margin-left: 1rem;
  text-decoration: none;
}

.logo > h1 {
  font-size: 1.5rem;
}

.logo > svg {
  fill: var(--darkblue);
  stroke: none;
}

.cart {
  fill: var(--darkblue);
  stroke: none;
  margin-right: 1rem;
}

.link {
  color: var(--gray);
  justify-self: flex-end;
  margin-right: 4rem;
  font-size: 1rem;
}

.badge {
  color: var(--white);
  background: var(--brightblue);
  border-radius: 50%;
  padding: 0.1rem 0.3rem;
  position: relative;
  text-align: center;
  right: 1.8rem;
  bottom: 1.8rem;
  display: inline-block;
  width: 1.2rem;
}
