.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--darkblue);
}

.title {
  font-size: 4rem;
}

.description {
  font-size: 2rem;
}

.button {
  background-color: var(--lightblue);
  color: var(--darkblue);
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
}

.button:hover {
  background-color: var(--brightblue);
}
