.header {
  margin: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--darkblue);
  flex-wrap: wrap;
}

.price {
  font-size: 2rem;
  font-weight: 700;
}

.title {
  font-size: 2rem;
  color: var(--darkblue);
  min-width: 20rem;
}

.backLink {
  position: fixed;
  top: 50%;
  padding: 0 1rem;
}

.container {
  background-color: var(--white);
  display: flex;
  padding: 2rem 1rem 0 6rem;
  flex-wrap: wrap;
  justify-content: space-around;
}

.image {
  height: 25rem;
  max-height: 25rem;
  object-fit: cover;
  margin-right: 2rem;
  padding-bottom: 2rem;
}

.productInfo {
  width: 50%;
}

@media (max-width: 700px) {
  .header {
    justify-content: center;
  }
  .container {
    justify-content: center;
  }
}

@media (max-width: 840px) {
  .productInfo {
    width: 100%;
  }
}
