:root {
  --lightblue: #e4fbff;
  --brightblue: #29d3ee;
  --blue: #2d526f;
  --darkblue: #1e374b;
  --gray: #f0f0f0;
  --white: #fdfdfd;

  --mainFont: 'Montserrat', sans-serif;
  --secondaryFont: 'Poppins', sans-serif;

  --thin: 200;
  --regular: 400;
  --bold: 600;
}

body {
  margin: 0;
  background-color: var(--gray);
}

main {
  margin-top: 5rem;
}

header {
  top: 0;
  position: fixed;
  width: 100%;
}

.fadeIn {
  animation: fadeIn 1s;
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

button {
  background-color: var(--blue);
  color: var(--white);
  border-radius: 0.7rem;
  border: none;
  padding: 0.4rem;
  width: 100%;
}

button:hover {
  background-color: var(--darkblue);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: var(--mainFont);
}

h3 {
  font-size: 1.2rem;
}

span,
button,
p,
a  {
  font-family: var(--secondaryFont);
}
